apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prd-monitoring
resources:
  - ../../../base
  - production-config.yaml
  - secrets.yaml
  - provision-grafana-teams.yaml
patches:
  - path: production-grafana-patch.yaml
  - path: production-loki-patch.yaml
  - target:
      kind: HelmRelease
      name: kube-prometheus-stack
    patch: |-
      - op: add
        path: /spec/values/grafana/service
        value:
          type: NodePort
          nodePort: 30000